<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Microsoft Newsletter tempate toolkit</title>
    <meta charset="UTF-8">
    <!-- Two layered template rendering: styles in here are
    used by premailer and are inlined to each effected element
    Media queries are added afterwards with erb rendering
    -->
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= erb :'content/css_ie_viewport' %>
    <%= erb :'content/ie_viewport_meta'%>
   <!-- /*must be in separate style tag or premailer mauls it away*/ -->
    <%= 
    erb :'fluid/css_mediaqueries'
    %>
    
  </head>
 <%= yield %>
</html>