<table width="<%=@innerwidth%>px">
  <tr>
    <td class="bg-white">   
      <p class="highlight-white highlight">
        <span class="medium-text"><a href=""> What a great choice!   </a> </span>
        <br>

        <br>
        <span class="default-text">
            <a href="">   We're glad you've joined us. To help you get started and begin to use all the great features on your new phone, take a look at our online support pages. There's user guides, tips on how to personalise your new phone and more. </a>
        </span>      
        </p>
      <p class="highlight"><a href="#">Wau! This is a link</a></p>
    </td>
  </tr>
</table>