<p class="highlight">
  <span class="large-text">
  <a href="#">Stay Up to Date</a>
  </span>
  <br><br>
  <span class="default-text">
  Even more awesome features can be found for your Lumia by using the Lumia Help+Tips app. You'll find answers to common questions, user guide info and the latest product news from Microsoft. 
  </span>
</p>

<img src="/phone_top_320.jpg" alt="Burns like a Ring of Lumia" width="298">
