<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Microsoft Newsletter : Fixed narrow width</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= erb :'content/css_ie_viewport' %>
    <%= erb :'content/320_fixed_viewport_meta' %>
  </head>
 <%= yield %>
</html>