
<p class="highlight">
  <span class="large-text">
  <a href="#">See the wonders of Windows Mobile</a>
  </span>
  <br><br>
  <span class="default-text">

  apophenia boat Kowloon Chiba singularity savant neural tanto j-pop wristwatch film boy hotdog soul-delay systemic -ware face forwards rebar receding DIY weathered market nodal point courier vinyl render-farm warehouse wonton soup military-grade rain fetishism digital assassin woman order-flow physical neon tube cyber- realism semiotics industrial grade stimulate <cardboard class=""></cardboard>
  </span>
</p>

