<table width="100%" class="bg-image-block">
  <tbody>
    <tr>
      <td class="bg-image-bg"  height="150" valign="top" bgcolor="#000000" background="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg">
        <!--[if gte mso 9]>
        <v:image xmlns:v="urn:schemas-microsoft-com:vml" id="bgimage2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:300px; width:600px; top:0; left:0; border:0; z-index:1;' src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg"/>
        <v:shape xmlns:v="urn:schemas-microsoft-com:vml" id="tcontent2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:300px; width:600px; top:-5; left:-10; border:0; z-index:2;'>
        <div>
          <![endif]-->
          
        </td>
      </tr>
      <tr>
        <td class="bg-image-content">
          
          <p class="highlight">
          <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baffd7ad8c95c2afbc003e4461175a3cd0dc0499cf9a1d259c39cf7306bf266fb7" class="large-text ">
            Top speed: 65 kph
          </a>
          <br>
          <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baffd7ad8c95c2afbc003e4461175a3cd0dc0499cf9a1d259c39cf7306bf266fb7" class="default-text">
            Want to know why someone rides a bike down the side of a mountain? For Josh, it’s about adrenaline, speed, and a sense of accomplishment.
          <br><br>Follow the link below to find out more.</a>
    
          <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baffd7ad8c95c2afbc003e4461175a3cd0dc0499cf9a1d259c39cf7306bf266fb7">
          <br>
            <img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-nl-arrow-w.png" width="22" height="22" border="0" alt="">
          </a>
          
          <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baffd7ad8c95c2afbc003e4461175a3cd0dc0499cf9a1d259c39cf7306bf266fb7" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.15em; text-decoration: none; color: #ffffff;">
            Read Josh’s story
            <br>
            <br>
            <br>
          </a>
                </p>
        </td>
        
      </tr>
    </tbody>
  </table>