<table width="100%">
  <tr>
    <td>   <p class="highlight">
      <span>  Punchline: small amount of text.</span>
      <span class="enhancedContent">Enhanced content may show more stuff after initial content.</span>
      </p>
    </td>
  </tr>
</table>