<table class="column column2 image-column-text">
                <tr>
                  <td valign="top" style="padding:15px;" class="textblock">
                    <a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f706f96a242d1fd93fcf43078b4257f5f1f73c0dde68be95161caecd91549b820" target="_blank"><span style="font-size:28px;font-weight:normal;">Control
                    Xbox with your Lumia</a>
                    <br>
                    <a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f706f96a242d1fd93fcf43078b4257f5f1f73c0dde68be95161caecd91549b820" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;">The Xbox SmartGlass
                    app turns your Lumia into an intelligent remote control for your Xbox and makes your entertainment experience even more amazing. </span></font></a>
                    
                  </td>
                </tr>
              </table>
              <table class="column column2 image-column-image">
                <tr>
                  <td align="right" style=""><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f706f96a242d1fd93fcf43078b4257f5f1f73c0dde68be95161caecd91549b820" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_3.jpg" width="300" height="300" border="0">
                  </a></td>
                </tr>
              </table>