<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Microsoft Email template approaches</title>
		<style>
		body  {margin: 0 auto; max-width:820px;}
		.flexbody {
			display:flex;
		  justify-content: space-around;

		}

		.flex {
			flex-grow: 1;
			padding:0;
			width: 50%;
			margin:0;
  }
	h1 {
		border-bottom:2px solid #ccc;
		padding:1rem 0 2rem 0;
	}
	hr {margin:1rem 0 2rem 0; border:0; border-bottom:2px solid #ccc; background: none;}

		</style>
	</head>
	<body>
		<h1>Microsoft Email template approaches</h1>
		<div class="flexbody">
			<h2 class="flex">Fixed Layouts</h2>
			<ul class="flex">
				<li><a href="/fixed/narrow">Narrow body,  320px </a></li>
				<li><a href="/fixed/medium">Medium body, 640px</a></li>
			</ul>
		</div>

		<hr>
		<div class="flexbody">
			<h2 class="flex">Fluid layouts</h2>
			<ul class="flex">
				<li><a href="/fluid/narrow">Narrow body, 320px</a></li>
				<li><a href="/fluid/medium">Medium body, 640px</a></li>
				<li><a href="/fluid/wide">Full responsiveness, ~920px</a></li>
			</ul>
		</body>
	</div>
</html>