<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fluid Tables test</title>
    <meta charset="UTF-8">
<!-- Two layered template rendering: styles in here are 
used by premailer and are inlined to each effected element 
Media queries are added afterwards with erb rendering 
-->
    <%= erb :ie_viewport_meta %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <style>
    /*Use !important to override inline styles*/

    /*these styles are used for inlining.*/
    body {
      margin: 0.5em 1em;
      color:#333;
      font-size:20px;
      line-height: 28px;
      font-family: wf_segoe_ui, Tahoma, Arial, sans-serif;
      background:#f2f2f2;
      font-weight: 300;
    }
  

    td {
      padding:0 !important;
      text-align:left;
      vertical-align: top;
    }
  
    /*
    moved to meqia queries
    svg {max-width:400px !important;
      text-align:left;
    }*/

    /*silly syntax for silly render engines*/
    table[class="main"] {width:100% }
    
    table[class="column column1"], table[class="column column2"] {
    width: 100% ;
    margin: 0 2rem 2rem 0 ;
    float:left;
    }
    td p {text-align: justify;}
    p.heading1 {font-weight: 300; font-size:2.5em; line-height: 1.1em; letter-spacing:-0.03em;text-align: left; padding:0.5em;}
    
    td.textblock,p.textblock, span.textblock {
      background:white;
      padding:1em !important;
    }

    .highlight {
      background:#1570a6;
      color:white;
      padding:1.5em 1em;
      font-size:32px;
      line-height: 38px;
      font-weight: bold;

    }

    .noticebox {
/*gray-light*/
      background:#d2d2d2;
    }
    
    a , a span {color:#1570a6;}

    .column2 + .column1 {
      clear:both;
    }

  

  
    </style>
    
    <!-- /*must be in separate style tag or premailer mauls it away*/ -->

    <%= erb :css_mediaqueries %>
    <%= erb :css_ie_viewport %>
  </head>
  <body>
  <div class="bg" style="background:#f2f2f2;">
    
        <table width="100%" style="margin:0 0 2em 0; border-bottom:3px solid #ccc;">
          <tr>
            <td>
              <% if @svg %>
              <%= erb :ms_logo_svg %>
              <% end %>
            </td>
          </tr>
        </table>
        <table class="main" width="100%">
          <tr>
            <td>
    
    <table 
      <tr>
        <td style="padding:0">   <p class="highlight">
                <span>  Fluid tables: </span>
    
                  <span>should be three full width blocks in viewports smaller than 581px and
                      two equally sized columns and one full block for larger viewports that also support media queries and floats</span>
    
                </p>
        </td>
      </tr>
    </table>
    
              <table class="column column2">
                <tr>
                  <td class="">
    <p class="heading1 textblock">
                      A large-plus text <a href="##">link</a> heading
                    </p>
    </td></tr>
    <tr><td class="textblock">
                    <p  style="font-weight: bold;">
            Ingress line is bold and does not have many paragraphs.
           
    </p><p>
            Maximum amount of character around 400.
                    </p>
                
                    
                    <a href="##">range-rover</a> franchise apophenia boat Kowloon Chiba singularity savant neural tanto j-pop wristwatch film boy hotdog soul-delay systemic -ware face forwards rebar receding DIY weathered market nodal point courier vinyl render-farm warehouse wonton soup military-grade rain fetishism digital assassin woman order-flow physical neon tube cyber- realism semiotics industrial grade stimulate cardboard network narrative ablative long-chain hydrocarbons artisanal geodesic rifle math-  girl claymore mine fluidity youtube BASE jump dead bridge tattoo marketing katana plastic post- concrete tiger-team Legba denim dolphin</p>
                  </td>
                </tr>
              </table>
              <table class="column column2" width="100%">
                
                  <tr>
                  <td>
    <p class="heading1 textblock">
    A large-plus text <a href="##">link</a> heading
                      
                    </p>
                    </td></tr><tr>
                  <td class="textblock">
                  <p>
                      sign human shanty town plastic city semiotics marketing physical Tokyo towards camera cartel euro-pop rebar carbon <a href="###">industrial </a>grade tube tanto rifle hotdog decay table pre- saturation point render-farm neural urban military-grade cardboard artisanal fluidity assassin monofilament neon sensory j-pop San Francisco silent modem tower disposable </p><p>computer sprawl fetishism kanji into gang RAF voodoo god beef noodles dolphin Kowloon face forwards jeans apophenia corporation geodesic digital pen BASE jump engine spook dome drone bicycle nodal point claymore mine math- hacker -space tiger-team chrome</p>
                  </td>
                </tr>
              </table>
              <table class="column column1" width="100%" >
                <tr>
                  <td >
                    <p class="heading1 textblock">
                    A large-plus text <a href="##">link</a> heading
                      
                    </p>
                    </td></tr>
                    <tr>
                  <td class="textblock">
                  <p>  nano- monofilament hacker boat Legba free-market motion tank-traps human towards RAF shoes rifle warehouse sprawl weathered meta- vehicle long-chain hydrocarbons -space claymore mine knife euro-pop vinyl systemic render-farm network j-pop fetishism into spook sign receding wristwatch man neural modem </p>
    
                  <p>
                    otaku garage savant alcohol rebar camera cyber- assassin tiger-team systema urban bicycle tube sunglasses convenience store military-grade futurity kanji range-rover skyscraper rain refrigerator office tattoo face forwards tanto fluidity lights <a href="####">San Francisco concrete DIY disposable Tokyo order-flow advert</a>
                  </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              
              <p>
                <br />
                %%Member_Busname%% <br />
                %%Member_Addr%% <br />
                %%Member_PostalCode%% %%Member_City%%, %%Member_Country%%
                <custom name="opencounter" type="tracking">
              </p>
            </td>
          </tr>
        </table>
  </div>
  </body>
</html>