<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="two-image-grid">
  <tbody>
    <tr>
      <td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f826b841756e1e316ad2a17f61ffeeb78993861654aad95dd6e0511119f883423" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Minecraft.png" width="147" height="147" border="0">
      </a>
    </td>
    <td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
    <td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039ffd1d853bc24e79d93537769b42beae1c70e6a352ff53fd8a0d2d3d5898ae8b7b" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Candy_Crush_Sage.png" width="147" height="147" border="0">
    </a>
  </td>
 
</tr>
<tr>
  
  <td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25dd4aef70a0458de89c47a7fbfc2bbf01cab9c3893a63e18fd9e193402e259d" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Angry_Birds_Epic.png" width="147" height="147" border="0">
  </a>
</td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25b7a53479a8a26a702b7a822d5fc04a3e2dfecbbc2671154397d266600ebd10" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Hill_Climb_Racing.png" width="147" height="147" border="0">
</a>
</td>
</tr>
<!-- <tr height="20" style="height:20px;">
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f826b841756e1e316ad2a17f61ffeeb78993861654aad95dd6e0511119f883423" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Minecraft
</span></font></a></font></td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039ffd1d853bc24e79d93537769b42beae1c70e6a352ff53fd8a0d2d3d5898ae8b7b" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Candy
Crush Saga </span></font></a></font></td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25dd4aef70a0458de89c47a7fbfc2bbf01cab9c3893a63e18fd9e193402e259d" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Angry
Birds Epic </span></font></a></font></td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25b7a53479a8a26a702b7a822d5fc04a3e2dfecbbc2671154397d266600ebd10" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Hill
Climb Racing </span></font></a></font></td>
</tr> -->
<!-- <tr>
<td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039fcce214f3ee3d1f8efd8546c9b25764e73468e655eff0dbc32ed6941dfa23af90" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Fruit_Ninja.png" width="147" height="147" border="0">
</a>
</td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039fb8268e785d7620877db07b07506520f79f8d0c7c5c72e88fc7bb4e3ced1886e1" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Flappy_Bird.png" width="147" height="147" border="0">
</a>
</td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f67778665b77484ea29c6af0e6301ab4e123cb206f4b1377eae2d93bc70593ed0" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Tiny_Troopers.png" width="147" height="147" border="0">
</a>
</td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" style="width:147px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f536905d86dc98ff4711907febf76a3e553ac82a3e6e88d1994bcd1d24ea724bb" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Shadow_Fight_2.png" width="147" height="147" border="0">
</a>
</td>
</tr>
<tr height="20" style="height:20px;">
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039fcce214f3ee3d1f8efd8546c9b25764e73468e655eff0dbc32ed6941dfa23af90" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Fruit
Ninja </span></font></a></font></td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039fb8268e785d7620877db07b07506520f79f8d0c7c5c72e88fc7bb4e3ced1886e1" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Flappy
Bird </span></font></a></font></td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f67778665b77484ea29c6af0e6301ab4e123cb206f4b1377eae2d93bc70593ed0" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Tiny
Troopers </span></font></a></font></td>
<td width="4" style="width:4px;"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/pixel.gif" width="4" height="1" border="0"> </td>
<td width="147" valign="top" style="width:147px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f536905d86dc98ff4711907febf76a3e553ac82a3e6e88d1994bcd1d24ea724bb" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Shadow
Fight 2 </span></font></a></font></td>
</tr> -->
</tbody></table>