<table width="<%=@innerwidth%>px">
  <tr>
    <td>   
      <p class="highlight">
        <span class="large-text"> What a great choice!    </span>
        <br>

        <br>
        <span class="default-text">
               We're glad you've joined us. To help you get started and begin to use all the great features on your new phone, take a look at our online support pages. There's user guides, tips on how to personalise your new phone and more. 
        </span>      </p>
      <p class="">
   
      </p>
    </td>
  </tr>
</table>