<%
transparent ||= false

%>
<tr>
  
<!--   <td class="left-spacer">
    <%= erb :'content/onepixel'%>
  </td> -->
  <td class="<%='bg-white' unless transparent %>">
    <%= erb block.to_sym %>
  </td>
 <!--  <td class="right-spacer">
    <%= erb :'content/onepixel'%>
  </td> -->
</tr>