<table class="three-small-boxes " align="center" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
  <tbody>
    <tr>
      <td width="100%" valign="top"   class="bg-white">
        <table  class="three-image-block" align="left" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tbody>
            <tr>
              <td  
                width="50"
                height="50"
                bgcolor="#ffffff"
                background="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg">
        <!--[if gte mso 9]>
        <v:image xmlns:v="urn:schemas-microsoft-com:vml" id="bgimage2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:50px; width:50px; top:0; left:0; border:0; z-index:1;' src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg"/>
        <v:shape xmlns:v="urn:schemas-microsoft-com:vml" id="tcontent2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:50px; width:50px; top:-5; left:-10; border:0; z-index:2;'>
        <div>
          <![endif]-->
               <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baa9fa820f6d3f8bd208ae9a74dad789e5fcacaa88ab4a21aca4b0d0adca171a15">
                  <img style="display: block; visibility:hidden;" src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-tile-830-1501.jpg" border="0" width="90" height="99" alt="" title="">
                </a> 
              </td>
              <td class="image-block-text-cell">
                <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baa9fa820f6d3f8bd208ae9a74dad789e5fcacaa88ab4a21aca4b0d0adca171a15" style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: #505050; text-decoration: none; font-size: 14px;">
                  This is Josh’s phone – learn about the Lumia 830
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <table  class="three-image-block" align="left" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tbody><tr>
             <td  
                width="50"
                height="50"
                bgcolor="#ffffff"
                background="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg">
        <!--[if gte mso 9]>
        <v:image xmlns:v="urn:schemas-microsoft-com:vml" id="bgimage2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:50px; width:50px; top:0; left:0; border:0; z-index:1;' src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg"/>
        <v:shape xmlns:v="urn:schemas-microsoft-com:vml" id="tcontent2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:50px; width:50px; top:-5; left:-10; border:0; z-index:2;'>
        <div>
          <![endif]-->
               <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baa9fa820f6d3f8bd208ae9a74dad789e5fcacaa88ab4a21aca4b0d0adca171a15">
                  <img style="display: block; visibility:hidden;" src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-tile-830-1501.jpg" border="0" width="90" height="99" alt="" title="">
                </a> 
              </td>
            <td class="image-block-text-cell" >
              <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baa021a2602f013890e2710c18e668faffdb8e999eb95ba66b0fee5dbfc185222e" style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: #505050; text-decoration: none; font-size: 14px;">
                Meet more people that love their Lumia
              </a>
            </td>
            
          </tr>
        </tbody>
      </table>
      <table  class="three-image-block" align="left" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody><tr>
           <td  
                width="50"
                height="50"
                bgcolor="#ffffff"
                background="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg">
        <!--[if gte mso 9]>
        <v:image xmlns:v="urn:schemas-microsoft-com:vml" id="bgimage2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:50px; width:50px; top:0; left:0; border:0; z-index:1;' src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-Josh-full-block3-1501.jpg"/>
        <v:shape xmlns:v="urn:schemas-microsoft-com:vml" id="tcontent2" style='behavior: url(#default#VML); display:inline-block; position:absolute; height:50px; width:50px; top:-5; left:-10; border:0; z-index:2;'>
        <div>
          <![endif]-->
               <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351baa9fa820f6d3f8bd208ae9a74dad789e5fcacaa88ab4a21aca4b0d0adca171a15">
                  <img style="display: block; visibility:hidden;" src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/st-tile-830-1501.jpg" border="0" width="90" height="99" alt="" title="">
                </a> 
              </td>
          <td  class="image-block-text-cell">
            <a href="http://click.email.microsoftemail.com/?qs=03ce023db58351ba504b581c05af7dfaf7f92846eb5d0ed99804b595aa8c5695b01950b9652c5b13" style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: #505050; text-decoration: none; font-size: 14px;">
              Josh uses the Health &amp; Fitness app
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
</tbody>
</table>