    <table class="webview-table" width="100%">
      <tr>
        
        
        <td colspan="3" class="padding-vertical"></td>
      </tr>
      <tr>
        <td class="padding-horizontal"></td>
        <td>
              <a href="%%view_email_url%%" alias="WebCopy">If you have problems viewing this email, check out the web version</a>
        </td>
        <td class="padding-horizontal"></td>
        
      </tr>

      <tr>
        
                <td colspan="3" class="padding-vertical"></td>

      </tr>
    </table>
